{% extends "base.html" %}

{% block content %}

<section class="featured">

    <h2>Customer Login</h2>

    <form method="POST" class="product-form">

        <input
            type="email"
            name="email"
            placeholder="Email"
            required>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

</section>

{% endblock %}