{% extends "base.html" %}

{% block content %}

<section class="featured">

    <h2>My Profile</h2>

    <div class="card" style="max-width:600px; margin:auto; text-align:left;">

        <h3>{{ user.name }}</h3>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <p>
            <strong>Role:</strong>
            {% if user.is_admin %}
                👑 Administrator
            {% else %}
                👤 Customer
            {% endif %}
        </p>

        <br>

        <a href="/orders" class="cart-btn">My Orders</a>

    </div>

</section>

{% endblock %}